.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #d9dbdd;
    font-size: small;
}

.applylab-credits {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .footer {
        font-size: xx-small;
    }
}