.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-inline-start: 0px;
}
.menu > a  {
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: none;
    color: grey;
}
.menu > a:hover {
    background-color: darkgray;
}

.menu-subcontainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        background-color: #f8f8ff;
        margin-top: 90px;
        display: none;
    }
    
    .menu-toggle {
        display: flex;
        justify-content: flex-end;
        margin-right: 100%;
    }
}