.news-page-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    color: grey;
}

.news-page-view > h1 {
    text-align: center;
}

.news-page-view > img {
    align-self: center;
}