.youtube-player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    margin-bottom: 4px; 
}
.no-content-message {
    text-align: center;
    color: red;
}